.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 32px;
  background-color: black;
  color: white;
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align header elements to the left */
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.login-header h1 {
  font-size: 24px;
  margin-left: auto; /* Center align the title */
  margin-right: auto; /* Center align the title */
}

.login-subheader {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  color: #d3d3d3;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 400px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}

input:focus {
  border-color: white;
  outline: none;
}

.login-form .button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background-color: #C55A11;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.login-form .button:hover {
  background-color: #7F3A0B;
  border-color: white;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 24px;
}

.button-group button {
  flex: 1;
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 5px;
  background-color: #C55A11;
  color: white;
  border: 2px solid black;
  cursor: pointer;
  max-width: 300px;
}

.button-group button:hover {
  background-color: #7F3A0B;
  border: 2px solid white;
}

.spinner {
  border: 4px solid #ccc;
  border-top: 4px solid #C55A11;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
